# PlatformIO
.pio
.pio/
.pioenvs
.piolibdeps
.idea
.vscode
*.custom_targets

# C/C++ Main
*.o
*.a
*.elf
*.bin
*.hex
*.map
*.d

# OS Specific
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
*.csv
/logs/

# Python / Scripts
__pycache__/
*.py[cod]

# Temporary
simulation.html
